body {
	background-color:#741630;
}

div.todo{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right:10px;
	border: 5px solid #919191
}

div.titulo {
	position: relative;
	top: -40px;
	left: 50px;
	width: 800px;
	font-size:100px;
	color:white;
}

div.grado {
	position: relative;
	top: -140px; 
	vertical-align:middle;
	text-align: center;
	border: 5px solid #919191;
	width: auto;
	background-color:white;
	height:70%;

}

#result {
	

	font-size:600px;
	color:black;
	
}

div.rotulo{
	position: absolute;
	bottom: 0px; 
	right:0px;  
	border: 5px solid #919191


}
