{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
    setInterval(function(e) {
      $.getJSON($SCRIPT_ROOT + '/_leer_puerto_serie', {
      }, function(data) {
        $('#result').text(data.result);
      });
      return false;
    }, 2000);
</script>


<div class="todo">
	<div class="titulo">
	<p class="titulo">GRADO BAUMÉ</p>
	</div>

	<div class="grado">
	<span id="result" >?</span>
	</div>

	<div class="rotulo">
	<img src="{{url_for('static', filename='logo.png')}}" alt="Sigma" >
	</div>
</div>
{% endblock %}
