<!doctype html>
<title>Sigma</title>
<script type="text/javascript"
  src="{{url_for('static', filename='jquery.min.js')}}"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{% block body %}{% endblock %}
